<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RomTerraria.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RomTerraria.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="EnableTrainer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMinimap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableManaRecharge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSurroundingAreaMinimap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableHiDef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshTimer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableCheats" serializeAs="String">
                <value>False</value>
            </setting>
        </RomTerraria.Properties.Settings>
    </userSettings>
</configuration>