<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RomTerraria.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RomTerraria.Properties.Settings>
            <setting name="RefreshTimer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadWorldPort" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="LoadWorldPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadWorldMaxNetPlayers" serializeAs="String">
                <value>8</value>
            </setting>
        </RomTerraria.Properties.Settings>
    </userSettings>
</configuration>


